*{
    box-sizing: border-box;
}
body {
    font-family: verdana, sans-serif;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    border: solid 3px black;
}
/* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
} */
/* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
} */

h1 {
    background-color: white;
    text-align: center;
    padding: 3px 5px;
    font-weight: bold;
    font-size: 20px;
}

.text {
    color: #f2f2f2;
    font-weight: bold;
    font-size: 40px;
    padding: 15px 12px;
    /* position: absolute; */
    width: 100%;
    text-align: center;
    top: -5px;
    background-color: black;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} */
/* .active, .dot:hover {
    background-color: #717171;
} */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to{opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to{opacity: 1}
}

/*(13:57) https://www.youtube.com/watch?v=DpHi9Ruu8R4  */
/* responsive*/
@media only screen and (max-width: 400px) {
    .prev, .next, .text {
        font-size: 11px;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
}

@media only screen and (max-width: 2100px) {
  

    img.wong {
        width: 1336px; 
        height: 550px;
    }
    img.Italy-Fem {
        width: 1057px;
        height: 550px;
    }

    img.AI-write {
        height: 560px;
    }

    img.State-Bus {
        width: 1030px;
        height: 550px;
    }
   .State-text {
    top: -4px;
   }

   .Stock {
    bottom: 4px;
    height: 570px;
   }


}

/*Own*/

.text {
    background-color: black;
    font-size: 60px;
}